{% extends "main.html" %}

{% load static %}
{% block content %}
<div class="">
    <div class="auth" style="margin-top: 200px;">
        <div class="card">
            <a class="backButton" href="{{request.GET.next}}"><i class="im im-angle-left"></i></a>
            <br>
            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'images/icon.svg' %}" alt="icon" />
                </a>
                <h3>Add new Skill</h3>

            </div>

            <form action="" method="POST" class="form auth__form">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}: </label>
                    <!-- <input class="input input--text" id="formInput#text" type="text" name="text"
                        placeholder="e.g. Dennis Ivanov" /> -->
                    {{field}}

                    {% if field.help_text%}
                    <small>{{field.help_text}}</small>
                    {% endif %}

                    {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="{{page}}" />
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}