{%extends "main.html"%}

{% block content %}
<div class="p-3">
    <h1>Projects </h1>

    <table class="table table-hover table-striped p-3 table-bordered">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">title</th>
                <th scope="col">created</th>
                <th scope="col">votes</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects%}
            <tr>

                <th scope="col">{{project.title}}</th>
                <th scope="col">{{project.created}}</th>
                <th scope="col">{{project.vote_total}}</th>
                <th scope="col"><a href="{% url 'update-project' project.id  %}">update</a></th>
                <th scope="col"><a href="{% url 'project' project.id  %}">view</a></th>
                <th scope="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{project.id}}">
                        delete
                    </button>
                    <div class="modal fade" id="{{project.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title text-danger" id="exampleModalLabel">Warning:</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    do you want to delete <b style="font-size: 20px;">{{project.title}}</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                                    <!-- <form action="delete/" method="POST"> -->
                                    <!-- {% csrf_token %} -->
                                    <a href="{% url 'delete-project' project.id  %}" class="btn btn-danger">delete</a>
                                    <!-- </form> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            {%endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}