{% extends "main.html"%}
{% block content %}




<div class="border p-4">
    {% load static %}
    <h1 class="text-primary">{{project.title}}</h1>
    <!-- <img src="" /> -->
    <img src="/{{project.thumbnail}}" draggable="false" style="width:auto;max-width:100%;height:auto;max-height:200px;" alt="My image">
    <div>
        <p class="ml-4">{{project.description}}</p>
        <h3 class="text-success">tags:</h3>
        <div class="ml-4">
            {%for tag in tags%}
            <span class="border m-2 p-2 rounded">{{tag}}</span>

            {%endfor%}

        </div>
    </div>
</div>
{% endblock content %}